<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 连接对应的数据接口Mapper类-->
<mapper namespace="com.sitech.cloudide.mapper.AdminInfoMapper">
    <!-- 登录方法， id对应Map类中的方法名字,parameterType：查询参数类型类型 returTyple:查询结果返回值类型-->
    <select id="login" parameterType="AdminInfo" resultType="AdminInfo">
        select aname,pwd,phone from adminInfo
    </select>
    <!--注册方法-->
    <insert id="singUp" parameterType="AdminInfo" >
        insert into adminInfo values（#{anme},#{pwd},#{phone}）
    </insert>
    <!--查询所有用户信息  -->
    <select id="findAll" resultType="AdminInfo">
        select aid,aname,phone from adminInfo
    </select>
    <!--修改用户名-->
    <update id="alterName" parameterType="AdminInfo">
        update adminInfo set aname = #{0} where aname = ${1};
    </update>
    <!--查询收集号码-->
    <select id="getPhone" resultType="String">
        select phone from adminInfo where aname = #{aname};
    </select>

    <resultMap id="BaseResultMap" type="AdminInfo">
        <result column="aid" jdbcType="INTEGER" property="aid" />
        <result column="aname" jdbcType="VARCHAR" property="aname" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>
 
    <select id="findById" resultType="AdminInfo">
        select * from user where aid = #{aid}
    </select>

</mapper>   